spring:
  application:
    name: aqm-back-end

  profiles:
    active: dev  # ✅ Choose which profile to use

  # ✅ Common config (used by ALL profiles)
  mail:
    host: smtp.gmail.com
    port: 587
    username: lethaitrung03@gmail.com
    password: mmtu gqbv mxoj dhas
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
    default-encoding: UTF-8

  task:
    execution:
      pool:
        core-size: 2
        max-size: 5
        queue-capacity: 100

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  api-docs:
    path: /v3/api-docs

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

# Common API config
openweather:
  api:
    key: ${OPENWEATHER_API_KEY:8d5af07bbcf8969b864f267d5465e1d2}
    base-url: https://api.openweathermap.org/data/2.5

waqi:
  api:
    token: ${WAQI_API_TOKEN:3c8fe25410427a3846b0b6897434a71c85d65c5d}
    base-url: https://api.waqi.info
